.work{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
  padding: 0 20px;


  &__img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
  }

  &__img-text{
    margin-top: 20px;
    text-align: left;
    width: 100%;
    color: #141615;
    text-align: left;
  }

  &__title {
    //font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__sub-title {
    font-weight: normal;
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    margin-bottom: 10px;

    &::before {
      content: '';
      width: 15px;
      height: 18px;
      background-color: #d9d9d9;
      border-radius: 26.5px;
      margin-right: 10px;
    }
  }

  &__paragraph {
    font-size: 14px;
    color: rgba(#141615, 0.6);
    margin-bottom: 20px;
    margin-left: 15px;

  }
}

@media screen and (min-width: 768px) {
.work__img-text {
  max-width: 450px;
  
}


}
@media screen and (min-width: 1025px) {
.work {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 42px;
gap:127px;

  &__img-text {
    text-align: left;
    color: #141615;
    margin-left: 30px;
    max-width: 450px;
  }

  &__title {
    
    font-size:50px;
    margin-bottom: 20px;
  }

  &__sub-title {
    
   font-size: 20px;
   margin-bottom: 5px;
   
   &::before {
    content: '';
    width: 25px;
    height: 28px;
    background-color: #d9d9d9;
    border-radius: 26.5px;
    margin-right: 10px;
  }
  }

  
}
}